.attribute{
    display: flex;
    margin-bottom: 20px;
}

.attribute h1{
    width: 400px;
    font-size: 24px;
    color:cadetblue;
}

.launch-view{
    margin:auto;
    width:700px;
    margin-top:50px;
    
}

.launch-view p{
    color:gray;
    margin-bottom: 50px;
}

.launch-view img{
    min-width:700px;
    min-height:600px;
}