.header{
   background:cadetblue;
   text-align: center;
   height:200px;
   
   width:100% ;
   display: inline-block;
}

.header h1{
     font-size: 48px;
     text-align: center;
     color: white;
     margin-top: 40px;
}